<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
	注意：使用mapper代理方法开发，namespace有着特殊作用
 -->
<mapper namespace="cn.com.mapper.ThemeMapper">
    <resultMap id="BaseResultMap" type="cn.com.domain.Theme">
        <id column="id" property="id" javaType="java.lang.Long"></id>
        <result column="name" property="name" javaType="java.lang.String"/>
    </resultMap>

</mapper>